
@font-face {
    font-family: 'PiCell';
    src: url('./Pi-Cell.otf');
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-display: swap;*/
}

@font-face {
    font-family: 'neodgm';
    src: url('./NeoDunggeunmoPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    font-family: 'neodgm';
    font-size: 10px;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: hidden;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/*index.html*/
#pattern-body{
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(220, 157, 157, 0.81);*/

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    padding: 0;
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    /*overflow: clip;*/
}
.pattern-container {
    width: 105%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    /*gap: 10px;*/
    margin-left: -30px;
    margin-top: 0px;
}
.pattern {
    width: 54px;
    height: 60px;
    /*border: 1px solid #00FF00;*/
    color: #00FF00;
    text-align: center;
    font-size: 75px;
    margin-top: 0px;
    cursor: grab;
    font-family: 'PiCell';
}

.pattern_red {
    color: #ff0000;
}

.pattern_green {
    color: #00ff00;
}

.pattern_blue {
    color: #0000ff;
}

#home-graphic {
    width: 24vw;
    height: 18vh;
    min-width: 280px;
    min-height: 110px;
    background-color: #000000;
    color: white;
    /*border: 1px solid white;*/
    /*border-radius: 20px;*/

    position: absolute;
    top: 47%;
    bottom: 53%;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home-text {
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 auto;
}
#cc {
    color: #FFFFFF;
    font-size: 1.3rem;
    text-align: center;

    z-index: 3;

    position: absolute;
    top: 91%;
    left: 0;
    right: 0;
    bottom: 9%;
}
